*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
  width: 7rem;
}

#mynavbar * {
  color: rgb(189, 189, 189);
}
#mynavbar{
  background-color: #353A40;
}

#mynavbar .navbar-brand{
  color: white;
}

#mynavbar .active {
  color: white;
  font-weight: 500;
}

#mynavbar .compra {
  color: rgb(25, 153, 25);
  font-weight: 400;
}

.banner-descripcion{
  width: 40%;
  text-align: right;
  position: relative;
  padding-right: 5rem;
}

.texto-descripcion{
  padding-top: 10rem;
  padding-bottom: 8rem;
  /*background-color: brown;*/
  /*background: url("../img/ba1.jpg");
  background-size: cover;
  background-position: center;*/
  color: white;
  position: relative;
}
.texto-descripcion::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../img/ba1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}


.cabecera{
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  /*color: var(--bs-card-cap-color);*/
  /*background-color: rgba(var(--bs-body-color-rgb), 0.03);;*/
}

.slash {
  background-color: #353A40;
  color: white;
  width: 50%;
  padding: 2rem 4rem 1rem 4rem;
}

.nomap {
  width: 45%;
}

.link-puntos {
  /*border-style: dotted;*/
  border-bottom: 0.2rem dotted grey;
}

/*.img-carrusel {
  background-image: url("../img/ba3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}*/
.carrusel-alto {
  /*max-height: 25rem;
  min-height: 25rem;*/
}

footer {
  background-color: #1D506D;
  color: white;
}

.contenedor-cards{

}

.imagen-card {
  /*max-width: 3rem;*/
  min-height: 23rem;
  max-height: 23rem;
  object-fit: cover;
}
.btn-text-descr{
  display: flex;
  justify-content: flex-end;
}

.imagen-carrusel{
  width: 50%;
}
.card{
  width: 30%;
}

.contenedor-form {
  width: 50%;
}

footer>a {
  text-decoration: none;
  color: white;
}

footer>a:hover{
  color: black;
}

.nav-link:hover{
  color:red
}
footer{
  display: flex;
  flex-direction: column;
}
@media (max-width:600px) {
  body {
    background-color: red;
  }

  .banner-descripcion {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }
  .btn-text-descr{
    display: flex;
    justify-content: center;
  }
  .card {
    width: 75%;
    margin: 3rem 5rem;
  }
  .contenedor-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-carrusel{
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
  }

  .imagen-carrusel{
    width: 100%;
    min-height: 30rem;
    
  }
  .slash{
    width: 100%;
  }

  .carrusel-alto{
    height: auto;
  }
  

  .nomap{
    width: 100%;
  }

  .contenedor-form{
    /*background-color: pink;*/
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contenedor-input {
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
  }
}